@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .btn{
    @apply hover:bg-[#1e1e2e] rounded-lg px-6 py-3 transition-all ease-linear duration-300;
  }
  .btna {
    @apply bg-[#1e1e2e]
  }
  .btnicons {
    @apply bg-[#313244] p-4 rounded-lg hover:scale-125 transition-all duration-300
  }
}

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
  --fuente: font-family: 'Plus Jakarta Sans', sans-serif;
  --hover: green;
  --Yellow: hsl(51, 100%, 50%);
}